{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ajouter un compte</h1>
    {{ form(form) }}
    <a class="btn btn-default btn-sm" href="{{ path('accounting_account_homepage') }}">Back to the list</a>
{% endblock %}
