{% extends '::base.html.twig' %}

{% block body -%}
  <h1>Compte</h1>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="account-name">{{ entity.name }}</span>
        <span class="account-actions">
          <a class="btn btn-default btn-sm" href="{{ path('accounting_uploader_upload') }}">Mettre à jour</a>
          <a class="btn btn-default btn-sm" href="{{ path('account_edit', { 'id': entity.id }) }}">Editer</a>
        </span>
      </li>
    </ul>
   {{ form(delete_form) }}
  </div>

{% endblock %}
